#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.header-container {
  flex: 0 0 100px;
  background-color: #414141;
  color: white;
}

.form-container {
  flex: 0 0 100px;
  background-color: #ffff74;
}